<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .black{
      border: 1px solid black;
     
    }
    .red{
      border: 1px solid red;
    }
    .blue{
      border: 1px solid blue;
    }
    .finish{
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model='texts.content' placeholder="輸入"  ><button @click='addlist'>新增</button>
    <ul>
      <li v-for='(item,index) in lists'>
       <span :class="{'finish':item.finished}"> {{index+1}} {{item.content}}</span>
        <input type="checkbox" @change='changeHandler(index)'>
        <button @click='deletetask'>刪除</button>
      </li>
    </ul>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el:"#app",
      data:{
        texts:{
          content:'',
          finished:false
        },
        lists:[],
      },
      computed:{
        
      },     
      methods:{
        addlist(){
          if(this.texts.content.length >2){
            this.lists.push(this.texts);
            this.texts= {
              content:'',
              finished:false
           }
          }else{
            alert('需兩字以上')
          }
          
        },
        deletetask(index){
          this.lists.remove
        },
        changeHandler(index){
         this.lists[index].finished =!this.lists[index].finished
        },
      }
    })
  </script>
</body>
</html>